@use 'base/mixins' as m;
@use 'base/variables' as v;

.bloques {
    @include m.contenedor;
    @include m.tablet{
        margin-top: 10rem;
        margin-bottom: 5rem;
    }
    &__grid {
        @include m.grid(1, 3rem);
        @include m.desktop {
            @include m.grid(2, 3rem);
        }
    }
}

.bloque {
    padding: 3rem;
    color: v.$gris-claro;
    border-radius: 1rem;

    &:nth-child(1){
        @include m.bg_gradient(#ec6e14);
    }
    &:nth-child(2){
        @include m.bg_gradient(#A855f7);
    }
    &:nth-child(3){
        @include m.bg_gradient(#59910B);
    }
    &:nth-child(4){
        @include m.bg_gradient(#17769E);
    }


    &__heading {
        margin: 1rem 0 2rem 0;
        font-size: 4rem;
    }

    &__texto {
        margin: 1rem 0;
        font-size: 2.4rem;
        font-weight: v.$bold;

        &--cantidad {
            margin-top: 5rem;
            font-weight: v.$black;
            font-size: 6rem;
            text-align: center;
        }
        &--disponibles {
            margin: 1rem 0;
            font-size: 2rem;
            font-weight: v.$bold;
        }
    }
}